<!-- ======= Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center">
      <img src="framework/images/favicon.svg" alt="" />
      <span class="d-none d-lg-block">Admin Panel</span>
    </a>

    <i class="fa-solid fa-bars toggle-sidebar-btn"></i>
  </div>
  <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dispaly-coustem">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>

      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <span class="d-none d-md-block dropdown-toggle pe-2"
            >K. Anderson</span
          >
          <img
            src="framework/images/profile-img.jpg"
            alt="Profile"
            class="rounded-circle"
          />
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="pages-faq.html"
            >
              <i class="fa-regular fa-circle-question"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <span onclick="logout()">Sign Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="fa-solid fa-border-all"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/role">
        <i class="fa-solid fa-user-gear"></i>
        <span>Role</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/actions">
        <i class="fa-solid fa-gears"></i>
        <span>Actions </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/permission">
        <i class="fa-regular fa-folder"></i>
        <span>Permission</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/resources">
        <i class="fa-solid fa-user-shield"></i>
        <span>Resources</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-regular fa-credit-card"></i>
        <span>Salary Slab </span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="/view_metadata">
        <i class="fa-solid fa-folder"></i>
        <span>Metadata </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-regular fa-user"></i>
        <span>Users Profile </span>
      </a>
    </li>
  </ul>
</aside>
