<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>HRMS</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="framework/images/favicon.svg" rel="icon" />
    <link href="framework/images/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- CSS Files -->
    <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet" />
  </head>

  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: linear-gradient(to right, #fad3e5, #d3ccf5, #d4e3fc);
    }

    :root {
      --color-white: #fff;
      --color-primary: #f26b41;
      --color-gray: #bfbfbf;
      --color-secondary: #012970;
      --color-dark-gray: #8e8e8e;
      --color-red: #ff0a0a;
      --color-light-gray: #808080;
    }

    .user_card {
      height: 350px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: var(--color-white);
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
    }

    .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: var(--color-primary);
      padding: 10px;
      text-align: center;
    }

    .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid var(--color-white);
      background: var(--color-gray);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form_container {
      margin-top: 100px;
    }

    .name_login {
      vertical-align: middle;
      line-height: 148px;
      font-size: 114px;
      color: var(--color-white);
    }

    .login_btn {
      background: var(--color-primary);
      color: var(--color-white);
      font-size: 18px;
      font-weight: 600;
      padding: 7px 30px;
      border: 2px solid var(--color-secondary);
      border-radius: 7px;
      transition: all 0.5s;
    }
    .login_btn:hover {
      background: var(--color-secondary);
      color: var(--color-white);
      border: 2px solid var(--color-primary);
    }

    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }

    .login_container {
      margin-top: 25px !important;
    }

    .input-group-text {
      background: var(--color-secondary);
      color: var(--color-white);
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .input-group input {
      border: 1px solid var(--color-gray);
    }
    .input-group input:focus {
      box-shadow: none;
      outline: none;
      border: 1px solid var(--color-gray);
    }
  </style>

  <body>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <div class="brand_logo">
                <b class="name_login">A</b>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      width="23px"
                      height="26px"
                      fill="var(--color-white)"
                    >
                      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control username"
                  value=""
                  placeholder="username"
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      width="23px"
                      height="26px"
                      fill="var(--color-white)"
                    >
                      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"
                      />
                    </svg>
                  </span>
                </div>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control password"
                  value=""
                  placeholder="password"
                />
              </div>
              <!-- <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customControlInline"
                  />
                  <label class="custom-control-label" for="customControlInline"
                    >Remember me</label
                  >
                </div> -->
              </div>
              <div class="d-flex justify-content-center login_container">
                <button type="submit" name="button" class="btn login_btn">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="framework/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

  <script>
    const form = document.querySelector('form')
    form.addEventListener("submit", submitHandler);
    function submitHandler(event) {
    event.preventDefault();
    

    fetch("/admin/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        username: document.querySelector("#username").value,
        password: document.querySelector("#password").value,
      }),
    })
      .then((response) => response.text()) 
      .then((res) => {
        if (res === "success") {
          window.location.href = "/dashboard";
        } else {
          console.error("Login failed:", res);
        }
      })
      .catch((error) => {
        console.error("Request failed:", error);
        
      });
  }

  </script>
</html>
